.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.entry-message {
  background-color: red;
  color: white;
  margin: 0px 25% 0 25%;
  font-size: 20px;
  border-radius: 30px;
}
.pannier {
  font-size: 20px;
  display: flex;
  
}
.pannier-notification {
  font-size: 13px;
}
.kmandi {
  font-size: 30px;
}

.restos {
  color: aliceblue;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 20px 10px;
}
.container .card {
  width: 300px;
  height: 80%;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.container .card .imgBx img {
  max-width: 100%;
  margin-top: 5%;
  width: 280px;
  border-radius: 8px;
  max-height: 80%;
}
.container .card .content {
  position: relative;
  background-color: rgba(80, 74, 6, 0.075);
  padding: 10px 15px;
  text-align: center;
  margin: 5px 20px 5px 20px;
  border-radius: 8px;
  font-weight: 1300;
}
.dropdown{
  margin-top:6px
}